<section>
    <div class="container pt-5">
        <h3 class="pt-5 pb-3 text-center">Login</h3>
        <form action="" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" name="email">
            </div>
            <h6 class="text-danger">{{EmailErr}}</h6>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            <h6 class="text-danger">{{PasswordErr}}</h6>
            <div class="form-check mb-2 mr-sm-2 pb-2">
                <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                <label class="form-check-label" for="inlineFormCheck">
                    Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
        </form>
    </div>
</section>