<section>
    <div class="container pt-5">
        <h3 class="pt-5 pb-3 text-center">Login</h3>
        <form action="" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email" name="email">
            </div>
            <h6 class="text-danger">{{EmailErr}}</h6>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                    name="password">
            </div>
            <h6 class="text-danger">{{PasswordErr}}</h6>
            <button type="submit" class="btn btn-outline-primary btn-block">Submit</button>
            <div class="mt-3">
                <a href="/signup">Create an account ?</a>
            </div>
        </form>
    </div>
</section>