<section>
    <div class="container pt-5">
        {{#each details}}
        <div class="alert alert-primary mt-5" role="alert">
            <h4 class="alert-heading">Description !</h4>
            <p>{{this.description}}</p>
            <hr>
            <p class="mb-0">Contact : {{this.user.phno}}</p>
            <p class="mb-0 text-right">By : {{this.user.name}}</p>
        </div>
        {{/each}}
    </div>
</section>